---
layout: layout
title: "Just a Gwai Lo: Questions"
---

<div class="row">

  <div class="span8">
    <div class="content">
      <div class="related">
        <ul>
          {% for post in site.posts %}
          <li><span>{{ post.date | date: "%B %e, %Y" }}</span> <a href="{{ post.permalink }}/">{{ post.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  <div id="blogroll" class="span1">
    <h4>Blogroll</h4>
    <ul>
      {% for blogroll in site.data.blogroll %}
      <li><a href="{{ blogroll.url }}" title="{{ blogroll.title }}">{{ blogroll.name }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>

</div>

<footer>
  <a href="http://feeds.justagwailo.com/justagwailo/questions"><img src="/images/feed.png" alt="RSS feed icon"></a>
</footer>