<!DOCTYPE HTML>

<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="author" content="Richard Eriksson" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="alternate" type="application/rss+xml" title="RSS" href="http://feeds.justagwailo.com/justagwailo/questions">
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <meta property="og:title" content="{{ page.title }}" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@justagwailo" />
    <meta name="twitter:creator" content="@sillygwailo" />
    {% if page.description %}
    <meta property="og:description" content="{{ page.description }}" />
    {% endif %}
    {% if page.image %}<meta property="og:image" content="{{site.url }}{{ page.image }}" />{% endif %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/geopattern/js/geopattern.min.js"></script>
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
      #question {
        font-size: 125%;
        padding-bottom: 1.5em;
      }
    </style>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-responsive.min.css" />
  </head>
  <body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="brand" href="/">Just a Gwai Lo: Questions</a>
        <div class="nav-collapse">
          <ul class="nav">
            <li><a href="/">Home</a></li>
            <li><a rel="me" href="https://justagwailo.com/">Blog</a></li>
            <li><a rel="contact" href="https://justagwailo.com/contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>
  <div class="container">
      {{ content }}
    </div>
    <script>
    var pattern = GeoPattern.generate('{{ page.title | escape | textilize }}');
 $(document).ready(function() {
    $('.navbar-inner').css('background-image', pattern.toDataUrl());
    $('.navbar .nav > li > a, .navbar .brand').hover(function() {
      $(this).css('background-color', pattern.color);
    }, function() {
      $(this).css('background-color', 'transparent')
    });
    var linearGradient = 'linear-gradient(' + pattern.color + ', ' + pattern.color + ')'
    $('button.btn.btn-navbar').css('background-image', linearGradient);
    $('button.btn.btn-navbar').css('background-color', pattern.color);
    $('.content a').css('color', pattern.color);
  });
    </script>
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
  </body>
</html>
